# --- spring.profiles ---
PROFILE=dev

# --- MYSQL ---
DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_NAME=muzusi
DATABASE_USER=root
DATABASE_PASS=password

# --- spring.data.redis ---
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# --- spring.data.mongodb ---
MONGODB_HOST=localhost
MONGODB_PORT=27017
MONGODB_AUTH_DB=admin
MONGODB_DATABASE=muzusi
MONGODB_USERNAME=root
MONGODB_PASSWORD=password

# --- jwt ---
JWT_KEY=local-development-only-jwt-secret-key-please-change-in-production==
JWT_ACCESS_EXPIRATION=1800000
JWT_REFRESH_EXPIRATION=86400000
JWT_ISSUER=muzusi

# --- kakao developers ---
KAKAO_DEVELOPERS_CLIENT_ID=
KAKAO_DEVELOPERS_CLIENT_SECRET=
KAKAO_LOGIN_REDIRECT_URI=

# --- naver developers ---
NAVER_DEVELOPERS_CLIENT_ID=
NAVER_DEVELOPERS_CLIENT_SECRET=
NAVER_LOGIN_REDIRECT_URI=

# --- naver api hub ---
NAVER_API_HUB_CLIENT_ID=
NAVER_API_HUB_CLIENT_SECRET=
NAVER_API_HUB_BASE_URL=https://naverapihub.apigw.ntruss.com

# --- token.refresh ---
REDIS_REFRESH_EXPIRATION=648000

# --- news ---
NEWS_CLIENT_ID=
NEWS_CLIENT_SECRET=
NEWS_API_URL=

# --- kis (한국투자증권) ---
KIS_DOMAIN=https://openapi.koreainvestment.com:9443
KIS_WEBSOCKET_DOMAIN=ws://ops.koreainvestment.com:21000
KIS_APPKEYS=
KIS_APPSECRETS=
KIS_WEBSOCKET_SUBSCRIPTION_LIMIT=41

# --- data ---
DATA_STOCK_CODE_PATH=data/stock/stock-code.csv

# --- webhook.discord ---
DISCORD_WEBHOOK_URL=
